@font-face {
    font-family: 'sulon';
    src: local('sulon'), url(./fonts/PROMETHEUS.ttf) format('ttf');
  }

  @font-face {
    font-family: 'textIntro';
    src: local('textIntro'), url(./fonts/alive.ttf) format('ttf');
  }