@font-face {
    font-family: 'sulon';
    font-style: normal;
    font-weight: 400;
    src: local('PROMETHEUS'), url(./fonts/PROMETHEUS.ttf) format('ttf');
  }

  @font-face {
    font-family: 'alive';
    font-style: normal;
    font-weight: 400;
    src: local('AliveinaScienceFiction'), url(./fonts/AliveinaScienceFiction.ttf) format('ttf');
  }

  @font-face {
    font-family: 'solo';
    font-style: normal;
    font-weight: 400;
    src: local('SoloistStraight'), url(./fonts/soloiststraight1.ttf) format('ttf');
  }

  